<div class="table-container">
    <stock-table [data]="stock" (addProductClicked)="handleAddFormValue($event)" (editProductClicked)="handleEditProductClicked($event)" [specificData]="specificData" (updateProductValue)="handleUpdateProductValue($event)"></stock-table>
</div>