table {
    width: 100%;
   
}
.filter-area {
    width: 100%;
    border-bottom: gray 2px solid;
    height: 30px;
}
.w-100-form-field {
    width: 100%;
    padding: 0 12px;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
th {
    text-transform: capitalize;
    background-color: rgba(28, 120, 182, 0.699);
}
th.mat-header-cell.last-column-header {
    border-right: 1px solid #dadada;
    padding: 12px;
}
th.mat-header-cell {
    padding: 5px;
    border-right: 1px solid #fff;
}
tr:nth-child(even) {
    background: #eee;
}
td.mat-cell {
    border-right: 1px solid #e0e0e0;
    padding: 14px;
}
.button{
    font-weight: 600;
    background-color: rgba(28, 120, 182, 0.699);
    color: black;
    margin-bottom: 30px;
}
.button:hover{
    background-color: whitesmoke;
    color:  rgba(28, 120, 182, 0.699);
}
.custom-dialog {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 0;
    // left: 100px;
    // width: calc(100vw - 103px);
    height: 100vh;
    animation: fadeInPanel 400ms ease-out forwards;
    z-index: 4;
  }
  
  .drop-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .transaction-table {
    margin: 20px;
    width: 320px;
    max-width: 500px;
    min-width: 300px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .form-button{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .edit-icon{
      cursor:pointer;
      text-align: center;
  }
