<button mat-raised-button class="button" (click)="addProductClick()">Add Product</button>
<mat-form-field floatLabel="never">
    <input matInput (keyup)="applyFilter($event)" autocomplete="off">
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<table mat-table [dataSource]="data" matSort>
    <ng-container *ngFor="let title of columnNames" [matColumnDef]="title">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ title }}</th>
        <td class="element-table-data" mat-cell *matCellDef="let element">
            <div *ngIf="title !== 'edit'" class="element-table-cell cursor">
                <div class="element-table-cell">
                    <div class="element-value">{{ element[title] }}</div>
                </div>
            </div>
            <div *ngIf="title == 'edit'" class="element-table-cell cursor">
                <div class="element-table-cell">
                    <div class="element-value edit-icon" (click)="editClick(element.id)">
                        <mat-icon>edit</mat-icon>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
</table>
<mat-paginator [pageSize]="10"></mat-paginator>

<ng-template #calladdProductDialog>
    <mat-card style="display:flex; align-items: center; justify-content: center;">
        <form [formGroup]="productForm">
            <mat-form-field MatFormFieldControl floatPlaceholder="never">
                <input type="text" matInput placeholder="Name" formControlName="name" />
            </mat-form-field>
            <mat-form-field MatFormFieldControl>
                <input type="number" min="1" step="1" matInput placeholder="stockQty" formControlName="stockQty" />
            </mat-form-field>
            <mat-form-field MatFormFieldControl>
                <input type="text" matInput placeholder="Brand" formControlName="brand" />
            </mat-form-field>
            <mat-form-field MatFormFieldControl>
                <input type="text" matInput placeholder="Category" formControlName="category" />
            </mat-form-field>
            <mat-dialog-actions>
                <div class="form-button"><button mat-dialog-close mat-raised-button class="button"
                        (click)="addFormValue()">Add
                        Product</button></div>
            </mat-dialog-actions>

        </form>
    </mat-card>
</ng-template>

<ng-template #callEditProductDialog>
    <mat-card style="display:flex; align-items: center; justify-content: center;">
        <form [formGroup]="productForm">
            <mat-form-field MatFormFieldControl floatPlaceholder="never">
                <input value="specificData.name" type="text" matInput placeholder="Name" formControlName="name" />
                <!-- <mat-error *ngIf="productForm.get('name').hasError('required')">Name is required.</mat-error>
                <mat-error *ngIf="productForm.get('name').hasError('maxLength')">Name must be a maximum of 250 characters.</mat-error> -->

            </mat-form-field>
            <mat-form-field MatFormFieldControl>
                <input type="number" min="1" step="1" matInput placeholder="stockQty" formControlName="stockQty" />
            </mat-form-field>
            <mat-form-field MatFormFieldControl>
                <input type="text" matInput placeholder="Brand" formControlName="brand" />
            </mat-form-field>
            <mat-form-field MatFormFieldControl>
                <input type="text" matInput placeholder="Category" formControlName="category" />
            </mat-form-field>
            <mat-dialog-actions>
                <div class="form-button"><button mat-dialog-close mat-raised-button class="button"
                        (click)="editProductValue()">Edit
                        Product</button></div>
            </mat-dialog-actions>

        </form>
    </mat-card>
</ng-template>